@import "tailwindcss";

.skill-progress {
  height:100%;
  transition: width 1s ease-in-out;
}

.advanced { background: #27ae60; }
.intermediate { background: #3498db; }
.beginner { background: #f39c12; }

button{
  cursor: pointer;
}

.fade-in {
  opacity: 0.1;
  transition: opacity 0.8s ease;
}

.fade-in.active {
  opacity: 1;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.st0 {
  fill: #18181A;
}

#move{
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
}

.marque h1{
    color: black;
    font-weight: bold;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(100%);
}